-e git+https://github.com/insolor/python-transifex#egg=python-transifex
https://bitbucket.org/dfint/dfrus-py/get/package.zip#egg=dfrus
https://bitbucket.org/dfint/df-gettext-toolkit/get/default.zip#egg=df-gettext-toolkit
